@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cormorant+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cormorant+SC:wght@700&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navBg {
  background-color: #293462;
}

.home-back {
  height: 90vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(67, 128, 145, 0.586),
      rgba(13, 13, 85, 0.694)
    ),
    url(./img/back-img.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-h3 {
  font-family: "Charm", cursive;
  font-weight: 400;
}

.home-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tr-to-rig-h3 {
  transition: all both;
  transition-duration: 3s;
  animation: tr-to-rig 3s ease;
}

@keyframes tr-to-rig {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tr-to-rig-p {
  animation: tr-to-rig-p 3s ease;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes tr-to-rig-p {
  0% {
    opacity: 0;
    transform: translateX(-500px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

.tr-home-hr {
  animation: tr-home-hr 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 5.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes tr-home-hr {
  0% {
    opacity: 0;
    visibility: visible;
    transform: scaleX(1);
  }

  50% {
    opacity: 0.5;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.5);
  }
}

.home-svg {
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: home-svg;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes home-svg {
  0% {
    transform: translateY(-15px);
    visibility: visible;
  }

  50% {
    transform: translateY(0);
    /* visibility: hidden; */
  }

  100% {
    transform: translateY(-15px);
    visibility: visible;
  }
}
